@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html,
  body,
  #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #headlessui-portal-root {
    position: absolute;
    top: 0;
    z-index: 30;
  }
}

html[class*="dark"] .dot-background {
  background: radial-gradient(#c2c2c2 4%, transparent 4%), black;
  background-size:25px 25px;
}

html[class*="light"] .dot-background {
  background: radial-gradient(#000000 6%, transparent 6%), #FAFAFA;
  background-size:25px 25px;
}


